div {
  color: var(--text-color);
}

label {
  font-size: 1.125rem;
  display: block;
  margin-bottom: 0.875rem;
}

input {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
}

select {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
  border-radius: 7px;
  border: 2px solid var(--frame-color);
  font-size: 1.125rem;
  background-color: transparent;
  color: var(--text-color);
}

.inputBarcodeField::-webkit-calendar-picker-indicator {
  display:none;
}

.data-option {
  color: var(--text-color);
}

