label {
  font-size: 1.125rem;
  display: block;
  margin-bottom: 0.875rem;
}

input {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
}

select {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 15%;
  border-radius: 7px;
  border: 2px solid var(--frame-color);
  font-size: 1.125rem;
  color: var(--text-color);
}

