label {
  font-size: 1.125rem;
}

.setting {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0px 60px 0 60px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

.setting-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background: white;
}

.setting-page label {
  display: block;
  margin-bottom: 0.875rem;
}

.setting-page input {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
}

.image {
  width: 16.5vw;
  height: 16.5vw;
  margin-left: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-input {
  border: none;
}

.close-button {
  align-self: flex-end;
}
