.customer-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 60px;
}

.customer-info > * {
  flex: 1;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}

.tool-bar .button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.price-calculation-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 350px;
}

.price-calculation-input-container > * {
  flex: 1;
}


