.status-container {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: auto;
  color: var(--text);
  font-weight: 550;
  width: 60%;
  text-align: center;
}

.processing {
  background-color: var(--processing-backgroundcolor);
  color: var(--processing-color)
}

.delivering {
  background-color: var(--delivering-backgroundcolor);
  color: var(--delivering-color);
}

.completed {
  background-color: var(--completed-backgroundcolor);
  color: var(--completed-color);
}

.cancelled {
  background-color: var(--cancelled-backgroundcolor);
  color: var(--cancelled-color);
}
