.employee-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  gap: 14%;
}

.employee-info > * {
  flex: 1;
}

.tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 20px;
}

.tool-bar .button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.total {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  gap: 450px;
}

.total > * {
  flex: 1;
}

.product-item-choose {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--frame-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

.warehouse-select {
  margin: auto;
  border: none;
  font-size: 14px;
  width: 100%;
}

.warehouse-select:focus {
  outline: none;
}

.option {
  color: black;
  border: none;
  font-size: 14px;
  display: flex;
  height: 40px;
}

