.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-right: 1px solid var(--frame-color);
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}
