label {
  font-size: 1.125rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  backdrop-filter: blur(5px); /* blur the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.setting-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2vw 4vw 2vw 4vw;
  background: white;
  position: fixed;
  border-radius: 14px;
}

.setting-page label {
  display: block;
  margin-bottom: 0.875rem;
}

.setting-page input {
  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
}

.image {
  border: 1px solid var(--frame-color);
  width: 16.5vw;
  height: 16.5vw;
  margin-left: 4vw;
}
