.discount-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cancel-button {
  background-color: var(--cancelled-backgroundcolor);
  color: var(--cancelled-color);
  margin: 40px auto;
}

.cancel-button:hover {
  background-color: var(--cancelled-backgroundcolor);
  color: var(--cancelled-color);
  opacity: 0.7;
}

.order-state-line {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.order-state-line > select {
  width: 41%;
}

.infoHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}








