.searchBarContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: auto;
  padding: 0px 12px;
  border: 1px solid #eaecf0;
  color: #344054;
  font-weight: 400;
  font-size: 14px;
  border-radius: 7px;
}

.searchBarContainer input {
  width: auto;
  min-width: 400px;
}

.removeFilterButton {
  width: auto;
  color: var(--red-pastel);
}

.filterGrid {
  padding: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.filterKey {
  font-weight: 600;
}

.filterItem {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.filterItem * {
  margin: 0px 8px;
}

.searchBar {
  margin: 10px;
  border: none;
}

.searchButton,
.filterButton {
  background: transparent;
  width: auto;
  height: auto;
  aspect-ratio: 1;
  color: var(--text-color);
  padding: 12px;
}

.searchOptions {
  width: 200px;
  border-radius: 8px;
  border: 1px solid var(--frame-color);
}

.filterPanel {
  margin: 20px 0px;
}

li {
  text-decoration: none;
}
