.searchBarContainer {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  min-width: 400px;
  height: 100%;
  padding: 0px 12px;
  border: 1px solid #eaecf0;
  color: #344054;
  font-weight: 400;
  font-size: 14px;
  border-radius: 7px;
  margin: 0px 12px 0px 0px;
}

.searchBarContainer input {
  width: auto;
  min-width: 300px;
}

.searchOptions {
  width: 20%;
}

.searchBar {
  margin: 10px;
  border: none;
}

.searchButton {
  justify-self: end;
  background: transparent;
  width: auto;
  height: auto;
  color: var(--text-color);
  padding: 12px;
  margin-left: 12px;
}
