.menuItem {
  margin: 10px;
}

.menuItemActive {
  color: #f7e8ef;
  fill: #f7e8ef;
}

.menuItemActive:hover {
  color: #f7e8ef;
  fill: #f7e8ef;
}

.menuItemInactive {
  color: #455a64;
  fill: #455a64;
}

.menuItemInactive:hover {
  color: #f7e8ef;
  fill: #f7e8ef;
}

.container {
  background-color: #ffffff;
  width: 300px;

  border-right: 1px solid #eaecf0; /* Change the color to match your design */
}

.separator {
  border-top: 1px solid #eaecf0; /* Change the color to match your design */
  margin: 20px 0;
  width: 100%;
}
