.password {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 0px 60px 0 60px;
  border-top-right-radius: 14px;
  border-top-left-radius: 14px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}






