

label {
  font-size: 1.125rem;
}

.setting-page {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding: 2vw 4% 0 4%;
}

.setting-page label {
  display: block;
  margin-bottom: 0.875rem;
}

.setting-page input {

  box-sizing: border-box;
  margin-bottom: 0.875rem;
  padding: 0.5rem;
  width: 100%;
}

.image {
  border: 1px solid var(--frame-color);
  width: 16.5vw;
  height: 16.5vw;
  margin-left: auto;
}
