.deleteButton {
  background-color: transparent;
  color: var(--text-color);
  height: auto;
  width: auto;
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.deleteButton:hover {
  background-color: var(--hover-color);
  color: var(--text-color);
}
