@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins/Poppins-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins/Poppins-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Poppins;
  src: url(../public/fonts/Poppins/Poppins-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}

#root {
  font-family: Poppins, sans-serif;
  margin: 0 auto;
  --primary-color: #6a1039;
  --selected-text-color: #f7e8ef;
  --text-color: #4c4f60;
  --background-color: #ffffff;
}

.routerContainer {
  display: flex;
  height: 100vh;
}

.menuBar {
  border: 100px solid black;
}
