@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --text-color: #4c4f60;
  --primary-color: #000000;
  --frame-color: #eaecf0;
  --button-color: #6a1039;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

body {
  overflow-y: auto;
}

label {
  color: var(--text-color);
  font-weight: 500;
  font-size: 1.125rem;
}

input {
  border: 2px solid var(--frame-color);
  border-radius: 7px;
}

