.info-container {
  display: flex;
  flex-direction: row;
  height: 90px;
  width: 100%;
  border: 1.5px solid var(--frame-color);
  border-radius: 12px;
  justify-content: center;
  align-items: center;
}
